body {
    color: #555;
    font-family: monospace;
    margin-left: 4em;
    margin-right: 4em;
}

h1 {
    font-size: 1.75em;
    font-family: sans-serif;
}

.metadata {
    margin: 0;
    padding: 0.3em 0 0 2em;
    font-size: 0.8em;
    font-style: italic;
    color: #aaa;
}

.commonlink {
    text-decoration: none;
    color: #aaa;
}

.authorlink, .datelink {
    color: #888;
    text-decoration: none;
}

input[type=text] {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #888;
    margin-left: 1ex;
    margin-right: 1ex;
}

input[type=text]:focus {
    border-color: #555;
    border-width: 0 0 2px 0;
    outline: none;
}

#nquote {
    width: 50%;
}
#nauthors {
    width: 15%;
}
#ndate {
    width: 8%;
}

.hidden {
    display: none;
}

#errorMark, .error {
    background: #fcc;
    border-color: red;
}
